.forecast-inline-card {
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  text-align: center;
}

.forecast-inline-card h3 {
  margin-bottom: 15px;
  font-size: 1.6rem;
  color: #333;
}

.forecast-inline {
  display: flex;
  justify-content: space-around;
  gap: 15px;
}

.forecast-inline-day {
  background: #f7f7f7;
  padding: 15px;
  border-radius: 10px;
  flex: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.forecast-inline-day p {
  margin: 5px 0;
  font-size: 1rem;
  color: #555;
}

.forecast-inline-day p:first-child {
  font-weight: bold;
  font-size: 1.2rem;
}

.forecast-inline-day p:last-child {
  font-style: italic;
}


@media (max-width: 768px) {
  .forecast-inline {
    flex-direction: column;
    gap: 10px;
  }
}
